@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box
}

strong {
    font-weight: 500;
}

h1 strong {
    font-weight: 700;
}

/* Hide the popper when the reference is hidden */
#popper[data-popper-reference-hidden] {
    display: none;
    pointer-events: none;
  }